<footer class = "footer">
    <div class = "footer-container">
        <p>© {{ site.time | date: '%Y' }} Emin Azizbayov. All rights reserved.</p>

        <div class="footer-icons">
            <a href="https://github.com/EminAzizbayov" target="_blank"></a>
            <a href = "https://www.codecademy.com/profiles/eminazizbayov" target="_blank"></a>
            <a href = "https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"></a>
            <a href = "https://www.instagram.com/{{ site.instagram_username }}" target="_blank"></a>
            <a href = "https://www.youtube.com/{{ site.youtube_username }}" target="_blank"></a>
        </div>


    </div>
</footer>